/* MAPS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

a:visited {
  text-decoration: none; }

.headerIndex {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/images/inicio-back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; }
  .headerIndex .bannerHeader {
    padding-top: 150px; }
    .headerIndex .bannerHeader .hrHeader {
      align-items: center;
      width: 5%;
      color: white;
      justify-content: center;
      text-align: center; }
    .headerIndex .bannerHeader .h2Header {
      margin-top: 30px; }
      .headerIndex .bannerHeader .h2Header .h1Animate {
        color: white;
        font-size: 1rem;
        font-family: 'Tahoma' , sans-serif;
        font-weight: 600;
        line-height: 1.2;
        letter-spacing: 0.1em; }

.divHeader {
  padding-top: 80px; }

.ulHeader {
  padding-top: 10px; }

.nav-link {
  color: white !important;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  letter-spacing: 0.2em; }

.nav-link:hover {
  color: white !important;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 8px;
  opacity: 0.8; }

/* HEADER NOSOTROS*/
.headerNosotros {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/images/nosotros-back.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; }

.tituloHeader {
  font-size: 3.75rem;
  text-align: center;
  padding: 350px;
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  letter-spacing: 0.2em; }

/* HEADER LOCALES*/
.headerLocales {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/images/locales-back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; }

/* HEADER MENU*/
.headerMenu {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/images/menu-back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; }

/* HEADER FRANQUICIAS*/
.headerFranquicias {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/images/franquicias-back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; }

/* HEADER CONTACTO*/
.headerContacto {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/images/contacto-back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; }

/* MQ HEADER INDEX*/
@media screen and (max-width: 767px) {
  .headerIndex {
    height: initial; }
    .headerIndex .bannerHeader {
      padding-top: 70px; }
      .headerIndex .bannerHeader .hrHeader {
        width: 15%; }
      .headerIndex .bannerHeader .h2Header {
        padding-bottom: 40px; }
        .headerIndex .bannerHeader .h2Header .h1Animate {
          font-size: 0.75rem; }
  .divHeader {
    padding: 0;
    padding-top: 20px;
    width: 70%; }
  .imgBanner {
    width: auto;
    height: 100px; } }

/* MQ HEADER NOSOTROS*/
@media screen and (max-width: 767px) {
  .headerNosotros {
    height: initial; }
  .tituloHeader {
    font-size: 1.875rem;
    padding: 0;
    padding-top: 100px;
    padding-bottom: 30%; } }

/* MQ HEADER LOCALES*/
@media screen and (max-width: 767px) {
  .headerLocales {
    height: initial; } }

/* MQ HEADER MENU*/
@media screen and (max-width: 767px) {
  .headerMenu {
    height: initial; } }

/* MQ HEADER FRANQUICIAS*/
@media screen and (max-width: 767px) {
  .headerFranquicias {
    height: initial;
    background-position: center; } }

/* MQ HEADER CONTACTO*/
@media screen and (max-width: 767px) {
  .headerContacto {
    height: initial; } }

main .locales {
  height: 20.375rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../assets/images/franquicias.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  main .locales i {
    color: white;
    font-size: 3.75rem;
    padding-top: 60px; }
  main .locales .h3Steps {
    padding-top: 30px;
    font-size: 2.188rem;
    color: white;
    font-family: "Lato", sans-serif;
    font-weight: 800; }
  main .locales .divASpan {
    padding-top: 45px; }
    main .locales .divASpan .aSteps {
      color: white;
      font-size: 0.938rem;
      font-family: "Lato", sans-serif;
      font-weight: 700;
      letter-spacing: 0.2em; }
      main .locales .divASpan .aSteps span {
        border: 2px solid white; }
        main .locales .divASpan .aSteps span:hover {
          color: black; }
      main .locales .divASpan .aSteps .spanSteps {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 35px;
        padding-right: 35px; }
        main .locales .divASpan .aSteps .spanSteps:hover {
          background-color: white; }

main .franquicias {
  height: 20.375rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../assets/images/locales.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  main .franquicias i {
    color: white;
    font-size: 3.75rem;
    padding-top: 60px; }
  main .franquicias .h3Steps {
    padding-top: 30px;
    font-size: 2.188rem;
    color: white;
    font-family: "Lato", sans-serif;
    font-weight: 800; }
  main .franquicias .divASpan {
    padding-top: 45px; }
    main .franquicias .divASpan .aSteps {
      color: white;
      font-size: 0.938rem;
      font-family: "Lato", sans-serif;
      font-weight: 700;
      letter-spacing: 0.2em; }
      main .franquicias .divASpan .aSteps span {
        border: 2px solid white; }
        main .franquicias .divASpan .aSteps span:hover {
          color: black; }
      main .franquicias .divASpan .aSteps .spanSteps {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 35px;
        padding-right: 35px; }
        main .franquicias .divASpan .aSteps .spanSteps:hover {
          background-color: white; }

main .nosotros {
  height: 20.375rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../assets/images/nosotros.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  main .nosotros i {
    color: white;
    font-size: 3.75rem;
    padding-top: 60px; }
  main .nosotros .h3Steps {
    padding-top: 30px;
    font-size: 2.188rem;
    color: white;
    font-family: "Lato", sans-serif;
    font-weight: 800; }
  main .nosotros .divASpan {
    padding-top: 45px; }
    main .nosotros .divASpan .aSteps {
      color: white;
      font-size: 0.938rem;
      font-family: "Lato", sans-serif;
      font-weight: 700;
      letter-spacing: 0.2em; }
      main .nosotros .divASpan .aSteps span {
        border: 2px solid white; }
        main .nosotros .divASpan .aSteps span:hover {
          color: black; }
      main .nosotros .divASpan .aSteps .spanSteps {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 35px;
        padding-right: 35px; }
        main .nosotros .divASpan .aSteps .spanSteps:hover {
          background-color: white; }

main .divAcerca {
  text-align: center;
  padding: 120px; }
  main .divAcerca .h3Acerca {
    font-size: 3.125rem;
    letter-spacing: 0.1em;
    font-family: "Lato", sans-serif;
    font-weight: 800;
    padding-bottom: 23px; }
  main .divAcerca .divHr {
    color: black;
    padding: 35px; }
    main .divAcerca .divHr .hrAcerca {
      border-top: 3px solid black; }
  main .divAcerca .pAcerca {
    font-size: 1.25rem;
    color: black;
    width: 100%;
    font-family: "Lato", sans-serif;
    font-weight: 400; }

main .burgersHeader {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../assets/images/nuestras-burgers.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 75px; }
  main .burgersHeader .divBurgersHeader {
    text-align: center;
    height: 937px; }
    main .burgersHeader .divBurgersHeader .h2BurgersHeader {
      display: inline;
      font-size: 3.75rem;
      color: white;
      letter-spacing: 0.1em;
      font-family: "Lato", sans-serif;
      font-weight: 800;
      text-shadow: 1px 1px 2px black; }
      main .burgersHeader .divBurgersHeader .h2BurgersHeader:hover {
        text-decoration-line: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 8px;
        opacity: 0.7; }

/* MQ */
@media screen and (max-width: 767px) {
  main .divAcerca {
    padding-top: 50px;
    padding-bottom: 50px; }
    main .divAcerca .h3Acerca {
      text-align: center;
      font-size: 2.188rem;
      line-height: 3rem; }
    main .divAcerca .divHr {
      color: black;
      padding: 10px; }
    main .divAcerca .pAcerca {
      font-size: 1rem; }
  main .burgersHeader {
    background-position: center;
    height: 400px;
    padding-top: 30px; }
    main .burgersHeader .divBurgersHeader .h2BurgersHeader {
      font-size: 2.5rem; } }

main .sectionHistoria {
  text-align: center;
  padding: 150px; }
  main .sectionHistoria .divHistoria h2 {
    font-size: 7.5rem;
    font-weight: 700;
    padding-bottom: 60px;
    font-family: 'Amatic SC', cursive; }
  main .sectionHistoria .divHistoria p {
    font-size: 1.563rem;
    color: black;
    padding: 35px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300; }
  main .sectionHistoria .divHistoria .emSize {
    font-size: 1.125rem;
    font-style: italic;
    font-weight: 500; }

main .sectionVideo {
  text-align: center;
  padding-bottom: 150px; }
  main .sectionVideo .video {
    border: 4px solid #636363;
    border-radius: 5px; }

/* MQ */
@media screen and (max-width: 767px) {
  main .sectionHistoria {
    text-align: center;
    padding: 0;
    padding-top: 50px; }
    main .sectionHistoria .divHistoria {
      padding: 0; }
      main .sectionHistoria .divHistoria h2 {
        font-size: 3.5rem;
        line-height: 0.1em;
        font-weight: 700;
        padding-bottom: 40px; }
      main .sectionHistoria .divHistoria p {
        font-size: 1rem;
        font-style: italic;
        font-weight: 300;
        padding: 20px; }
      main .sectionHistoria .divHistoria .emSize {
        font-size: 0.875rem; }
  main .sectionVideo {
    padding-top: 60px;
    padding-bottom: 60px; }
  main .video {
    width: 400px;
    height: 400px; } }

.divLocales {
  font-family: "Lato", sans-serif;
  border: 3px solid black;
  background-color: #e0e0e0;
  border-radius: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; }
  .divLocales .h2Locales {
    font-size: 3.75rem;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-decoration-line: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 10px;
    text-decoration-color: black; }
  .divLocales .direccionLocales {
    font-size: 1.875rem;
    letter-spacing: 0.1em;
    padding-top: 50px; }
  .divLocales .horarioLocales {
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 0.1em;
    padding-top: 30px; }
  .divLocales .horarioLocales1 {
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 0.1em;
    padding-bottom: 50px; }

/* MQ */
@media screen and (max-width: 767px) {
  .divLocales .h2Locales {
    font-size: 3.125rem; }
  .divLocales .direccionLocales {
    font-size: 1.5rem; }
  .divLocales .horarioLocales {
    padding-top: 20px; }
  .divLocales iframe {
    width: 320px;
    height: 300px; } }

main section .alert-info {
  color: #017e94;
  font-size: 1.25rem; }

main section .imgBr {
  border-radius: 15px; }

main section .info .nombre {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 1rem; }

main section .info .descripcion {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  padding-top: 15px; }

main section .starterBs h2 {
  font-size: 3.125rem;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.1em;
  text-align: center; }

main section .w-100 {
  border-radius: 15px; }

main section .sizeVentajas {
  margin-top: 100px;
  margin-bottom: 100px; }
  main section .sizeVentajas .h2-color {
    font-family: "Lato", sans-serif;
    text-align: left;
    color: #211f1b;
    background-color: white;
    font-size: 2.813rem;
    letter-spacing: 0; }
    main section .sizeVentajas .h2-color .franqSpan {
      font-size: 2.813rem;
      color: #edb026; }
      main section .sizeVentajas .h2-color .franqSpan:hover {
        color: #edb026; }
  main section .sizeVentajas .franquiciasSizeP {
    font-family: "Montserrat", sans-serif;
    text-align: left;
    color: #999;
    padding-top: 30px;
    font-size: 1.438rem;
    line-height: 25px; }

main section .sizeUl {
  width: 50%;
  margin-top: 50px;
  margin-bottom: 40px; }
  main section .sizeUl .list-group-item {
    font-family: "Montserrat", sans-serif; }

main section .starterBs {
  background-color: #edb026; }
  main section .starterBs h2 {
    font-size: 3.125rem;
    font-family: "Lato", sans-serif;
    letter-spacing: 0.1em;
    text-align: center; }

main section .sizeH2Franquicias {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 25px; }

main section .accordion-button {
  font-family: "Montserrat", sans-serif;
  font-weight: 600; }
  main section .accordion-button:not(.collapsed) {
    color: #edb026;
    background-color: #211f1b; }
  main section .accordion-button:focus {
    border-color: #181a1b;
    box-shadow: 0 0 0 0.25rem rgba(11, 12, 14, 0.25); }

main section .accordion-body {
  padding: 2rem; }

/* MQ */
@media screen and (max-width: 767px) {
  .sizeUl {
    width: 100%;
    margin-top: 0px; } }

@media (min-width: 576px) {
  .circleStore {
    background-color: #211f1b;
    height: 302px;
    width: 302px;
    border-radius: 50%; } }

@media (max-width: 576px) {
  .circleStore {
    background-color: #211f1b;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: 50px; }
  .imgFranquicias {
    height: 100px; } }

section .h2Contacto {
  font-size: 2.2rem;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.1em; }

section .pContacto {
  text-align: center;
  color: black;
  font-size: 1rem;
  padding-top: 60px; }

section .formWidth {
  width: 50%; }
  section .formWidth .formShadow {
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px; }
  section .formWidth .sizeMsg {
    height: 200px; }

.btnContacto {
  background-color: #edb026;
  border-color: #edb026;
  font-size: 1.875rem;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.1em; }
  .btnContacto:hover {
    background-color: #211f1b;
    border-color: #211f1b;
    opacity: 0.9; }

/* MQ */
@media screen and (max-width: 767px) {
  section .formWidth {
    width: 100%; }
  section .h2Contacto {
    font-size: 1.5rem; }
  section .pContacto {
    font-size: 1rem;
    padding-top: 40px; } }

.footerBg {
  font-family: "Lato", sans-serif;
  background-color: #211f1b; }
  .footerBg .h2Footer {
    letter-spacing: 0.1em;
    border: 3px solid #7a7a7a;
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 2.5rem; }
  .footerBg .dirFooter {
    font-size: 1.563rem;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 8px;
    text-decoration-color: #7a7a7a;
    letter-spacing: 0.1em; }
  .footerBg .horariosFooter1 {
    font-size: 1.25rem;
    padding-top: 25px;
    letter-spacing: 0.1em; }
  .footerBg .horariosFooter {
    font-size: 1.25rem;
    letter-spacing: 0.1em;
    padding-top: 10px; }
  .footerBg .logoFooter {
    margin-top: 60px; }
  .footerBg i {
    font-size: 1.625rem;
    padding: 20px;
    padding-top: 0; }
  .footerBg .fa-facebook {
    color: #4267B2; }
    .footerBg .fa-facebook:hover {
      opacity: 0.6; }
  .footerBg .fa-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 3%, #fdf497 35%, #fd5949 55%, #d6249f 65%, #285AEB 80%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 3%, #fdf497 35%, #fd5949 55%, #d6249f 65%, #285AEB 80%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text; }
    .footerBg .fa-instagram:hover {
      opacity: 0.6; }
  .footerBg .fa-whatsapp {
    color: #25D366; }
    .footerBg .fa-whatsapp:hover {
      opacity: 0.6; }
  .footerBg .copyrightP {
    color: #cfcfcf;
    font-size: 1rem;
    margin-top: 30px;
    margin-bottom: 0; }
  .footerBg .copyrightLink {
    font-size: 1.07rem;
    color: #cfcfcf; }

/* MQ FOOTER */
@media screen and (max-width: 767px) {
  .footerBg {
    height: 902px; }
    .footerBg .h2Footer {
      font-size: 1.9rem;
      margin-bottom: 40px; }
    .footerBg .dirFooter {
      font-size: 1.4rem; }
    .footerBg .horariosFooter1 {
      font-size: 1rem;
      padding-top: 0; }
    .footerBg .horariosFooter {
      font-size: 1rem;
      padding-top: 0; }
    .footerBg .logoFooter {
      margin-top: 20px; }
    .footerBg .copyrightP {
      margin-top: 0; } }

.body404 {
  background-color: #e0e0e0;
  font-family: "Lato", sans-serif; }
  .body404 .h1404 {
    font-size: 3.75rem;
    font-weight: 700; }
  .body404 .logo404 {
    width: 450px;
    height: 450px; }
  .body404 .h2404 {
    margin-top: 130px;
    margin-bottom: 70px;
    font-size: 1.688rem;
    font-weight: 400; }
  .body404 .divBtn404 {
    margin-top: 20px; }

/* MQ */
@media screen and (max-width: 767px) {
  .body404 .h1404 {
    font-size: 2.813rem;
    text-align: center;
    margin-bottom: 50px; }
  .body404 .logo404 {
    width: 250px;
    height: 250px; }
  .body404 .h2404 {
    margin-top: 20px;
    margin-bottom: 20px; }
  .body404 .divBtn404 {
    margin-top: 20px; } }
