/* MAPS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

a:visited {
  text-decoration: none; }

.headerIndex {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/images/inicio-back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; }
  .headerIndex .bannerHeader {
    padding-top: 150px; }
    .headerIndex .bannerHeader .hrHeader {
      align-items: center;
      width: 5%;
      color: white;
      justify-content: center;
      text-align: center; }
    .headerIndex .bannerHeader .h2Header {
      margin-top: 30px; }
      .headerIndex .bannerHeader .h2Header .h1Animate {
        color: white;
        font-size: 1rem;
        font-family: 'Tahoma' , sans-serif;
        font-weight: 600;
        line-height: 1.2;
        letter-spacing: 0.1em; }

.divHeader {
  padding-top: 80px; }

.ulHeader {
  padding-top: 10px; }

.nav-link {
  color: white !important;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  letter-spacing: 0.2em; }

.nav-link:hover {
  color: white !important;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 8px;
  opacity: 0.8; }

/* HEADER NOSOTROS*/
.headerNosotros {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/images/nosotros-back.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; }

.tituloHeader {
  font-size: 3.75rem;
  text-align: center;
  padding: 350px;
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  letter-spacing: 0.2em; }

/* HEADER LOCALES*/
.headerLocales {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/images/locales-back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; }

/* HEADER MENU*/
.headerMenu {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/images/menu-back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; }

/* HEADER FRANQUICIAS*/
.headerFranquicias {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/images/franquicias-back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; }

/* HEADER CONTACTO*/
.headerContacto {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/images/contacto-back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; }

/* HEADER INDEX MOBILE*/
@media screen and (max-width: 767px) {
  .headerIndex {
    height: initial; }
    .headerIndex .bannerHeader {
      padding-top: 70px; }
      .headerIndex .bannerHeader .hrHeader {
        width: 15%; }
      .headerIndex .bannerHeader .h2Header {
        padding-bottom: 40px; }
        .headerIndex .bannerHeader .h2Header .h1Animate {
          font-size: 0.75rem; }
  .divHeader {
    padding: 0;
    padding-top: 20px;
    width: 70%; }
  .imgBanner {
    width: auto;
    height: 100px; } }

/* HEADER NOSOTROS MOBILE*/
@media screen and (max-width: 767px) {
  .headerNosotros {
    height: initial; }
  .tituloHeader {
    font-size: 1.875rem;
    padding: 0;
    padding-top: 100px;
    padding-bottom: 30%; } }

/* HEADER LOCALES MOBILE*/
@media screen and (max-width: 767px) {
  .headerLocales {
    height: initial; } }

/* HEADER MENU MOBILE*/
@media screen and (max-width: 767px) {
  .headerMenu {
    height: initial; } }

/* HEADER FRANQUICIAS MOBILE*/
@media screen and (max-width: 767px) {
  .headerFranquicias {
    height: initial;
    background-position: center; } }

/* HEADER CONTACTO MOBILE*/
@media screen and (max-width: 767px) {
  .headerContacto {
    height: initial; } }

main .locales {
  height: 20.375rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../assets/images/franquicias.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  main .locales i {
    color: white;
    font-size: 3.75rem;
    padding-top: 60px; }
  main .locales .h3Steps {
    padding-top: 30px;
    font-size: 2.188rem;
    color: white;
    font-family: "Lato", sans-serif;
    font-weight: 800; }
  main .locales .divASpan {
    padding-top: 45px; }
    main .locales .divASpan .aSteps {
      color: white;
      font-size: 0.938rem;
      font-family: "Lato", sans-serif;
      font-weight: 700;
      letter-spacing: 0.2em; }
      main .locales .divASpan .aSteps span {
        border: 2px solid white; }
        main .locales .divASpan .aSteps span:hover {
          color: black; }
      main .locales .divASpan .aSteps .spanSteps {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 35px;
        padding-right: 35px; }
        main .locales .divASpan .aSteps .spanSteps:hover {
          background-color: white; }

main .franquicias {
  height: 20.375rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../assets/images/locales.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  main .franquicias i {
    color: white;
    font-size: 3.75rem;
    padding-top: 60px; }
  main .franquicias .h3Steps {
    padding-top: 30px;
    font-size: 2.188rem;
    color: white;
    font-family: "Lato", sans-serif;
    font-weight: 800; }
  main .franquicias .divASpan {
    padding-top: 45px; }
    main .franquicias .divASpan .aSteps {
      color: white;
      font-size: 0.938rem;
      font-family: "Lato", sans-serif;
      font-weight: 700;
      letter-spacing: 0.2em; }
      main .franquicias .divASpan .aSteps span {
        border: 2px solid white; }
        main .franquicias .divASpan .aSteps span:hover {
          color: black; }
      main .franquicias .divASpan .aSteps .spanSteps {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 35px;
        padding-right: 35px; }
        main .franquicias .divASpan .aSteps .spanSteps:hover {
          background-color: white; }

main .nosotros {
  height: 20.375rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../assets/images/nosotros.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  main .nosotros i {
    color: white;
    font-size: 3.75rem;
    padding-top: 60px; }
  main .nosotros .h3Steps {
    padding-top: 30px;
    font-size: 2.188rem;
    color: white;
    font-family: "Lato", sans-serif;
    font-weight: 800; }
  main .nosotros .divASpan {
    padding-top: 45px; }
    main .nosotros .divASpan .aSteps {
      color: white;
      font-size: 0.938rem;
      font-family: "Lato", sans-serif;
      font-weight: 700;
      letter-spacing: 0.2em; }
      main .nosotros .divASpan .aSteps span {
        border: 2px solid white; }
        main .nosotros .divASpan .aSteps span:hover {
          color: black; }
      main .nosotros .divASpan .aSteps .spanSteps {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 35px;
        padding-right: 35px; }
        main .nosotros .divASpan .aSteps .spanSteps:hover {
          background-color: white; }

main .divAcerca {
  text-align: center;
  padding: 120px; }
  main .divAcerca .h3Acerca {
    font-size: 3.125rem;
    letter-spacing: 0.1em;
    font-family: "Lato", sans-serif;
    font-weight: 800;
    padding-bottom: 23px; }
  main .divAcerca .divHr {
    color: black;
    padding: 35px; }
    main .divAcerca .divHr .hrAcerca {
      border-top: 3px solid black; }
  main .divAcerca .pAcerca {
    color: black;
    width: 100%;
    font: inherit;
    font-family: "Lato", sans-serif;
    font-weight: 700; }

main .burgersHeader {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../assets/images/nuestras-burgers.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 75px; }
  main .burgersHeader .divBurgersHeader {
    text-align: center;
    height: 937px; }
    main .burgersHeader .divBurgersHeader .h2BurgersHeader {
      display: inline;
      font-size: 3.75rem;
      color: white;
      letter-spacing: 0.1em;
      font-family: "Lato", sans-serif;
      font-weight: 800;
      text-shadow: 1px 1px 2px black; }
      main .burgersHeader .divBurgersHeader .h2BurgersHeader:hover {
        text-decoration-line: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 8px;
        opacity: 0.9; }

@media screen and (max-width: 767px) {
  main .divAcerca {
    padding-top: 50px;
    padding-bottom: 50px; }
    main .divAcerca .h3Acerca {
      text-align: center;
      font-size: 2.188rem;
      line-height: 3rem; }
    main .divAcerca .divHr {
      color: black;
      padding: 10px; }
  main .burgersHeader {
    background-position: center;
    height: 400px;
    padding-top: 30px; }
    main .burgersHeader .divBurgersHeader .h2BurgersHeader {
      font-size: 2.5rem; } }

main .sectionHistoria {
  text-align: center;
  padding: 150px; }
  main .sectionHistoria .divHistoria h3 {
    font-size: 7.5rem;
    font-weight: 700;
    padding-bottom: 60px;
    font-family: 'Amatic SC', cursive; }
  main .sectionHistoria .divHistoria p {
    font-size: 25px;
    color: black;
    padding: 70px;
    font-family: "Montserrat", sans-serif; }
  main .sectionHistoria .divHistoria .emSize {
    font-size: 1.125rem;
    font-style: italic; }

main .sectionVideo {
  text-align: center;
  padding-bottom: 200px; }
  main .sectionVideo .video {
    border: 4px solid #636363;
    border-radius: 5px; }

@media screen and (max-width: 767px) {
  main .sectionHistoria {
    text-align: center;
    padding: 0;
    padding-top: 50px; }
    main .sectionHistoria .divHistoria {
      padding: 0; }
      main .sectionHistoria .divHistoria h3 {
        font-size: 5.5rem;
        line-height: 0.1em;
        font-weight: 700;
        padding-bottom: 10px; }
      main .sectionHistoria .divHistoria p {
        font-size: 1rem;
        font-style: italic;
        font-weight: 500;
        padding: 30px; }
      main .sectionHistoria .divHistoria .emSize {
        font-size: 14px; }
  main .sectionVideo {
    padding-top: 60px;
    padding-bottom: 30px; }
  main .video {
    width: 400px;
    height: 400px; } }

main .sectionLocales {
  display: flex;
  justify-content: center; }
  main .sectionLocales h2 {
    font-size: 3.75rem;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-decoration-line: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 10px;
    text-decoration-color: black;
    padding-bottom: 20px; }
  main .sectionLocales .divLocales {
    text-align: center;
    margin: 150px;
    min-width: 600px;
    border: 3px solid black;
    background-color: #e0e0e0;
    border-radius: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px; }
    main .sectionLocales .divLocales .direccionLocales {
      color: black;
      font-size: 1.875rem;
      font-family: "Lato", sans-serif;
      letter-spacing: 0.1em;
      padding-top: 50px; }
    main .sectionLocales .divLocales .horarioLocales {
      color: black;
      font-family: "Lato", sans-serif;
      padding-top: 30px;
      letter-spacing: 0.1em;
      text-align: center; }
    main .sectionLocales .divLocales .horarioLocales1 {
      color: black;
      font-family: "Lato", sans-serif;
      padding-top: 30px;
      letter-spacing: 0.1em;
      text-align: center;
      padding-bottom: 50px; }

@media screen and (max-width: 767px) {
  main .sectionLocales {
    display: flex;
    flex-direction: column; }
    main .sectionLocales h2 {
      font-size: 2.5rem;
      font-family: "Lato", sans-serif;
      padding-bottom: 10px; }
    main .sectionLocales .divLocales {
      border-radius: 0px;
      min-width: 380px;
      margin: 0px; }
      main .sectionLocales .divLocales .direccionLocales {
        color: black;
        font-size: 1.3rem;
        padding-top: 20px; }
      main .sectionLocales .divLocales .horarioLocales {
        color: black;
        font-family: "Lato", sans-serif;
        padding-top: 10px;
        text-align: center; }
      main .sectionLocales .divLocales .horarioLocales1 {
        color: black;
        font-family: "Lato", sans-serif;
        padding-top: 10px;
        letter-spacing: 0.1em;
        text-align: center;
        padding-bottom: 50px; }
  .iframeLocal {
    width: 320px;
    height: 300px; } }

main section .alert-info {
  color: #017e94;
  font-size: 1.25rem; }

main section .imgBr {
  border-radius: 15px; }

main section .info .nombre {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 1rem; }

main section .info .descripcion {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  padding-top: 15px; }

main section .starterBs h2 {
  font-size: 3.125rem;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.1em;
  text-align: center; }

main section .w-100 {
  border-radius: 15px; }

main section .sizeVentajas {
  margin-top: 100px;
  margin-bottom: 100px; }
  main section .sizeVentajas .h2-color {
    font-family: "Lato", sans-serif;
    text-align: left;
    color: #211f1b;
    background-color: white;
    font-size: 45px;
    letter-spacing: 0; }
    main section .sizeVentajas .h2-color .franqSpan {
      font-size: 45px;
      color: #edb026; }
      main section .sizeVentajas .h2-color .franqSpan:hover {
        color: #edb026; }
  main section .sizeVentajas .franquiciasSizeP {
    font-family: "Montserrat", sans-serif;
    text-align: left;
    color: #999;
    padding-top: 30px;
    font-size: 23px;
    line-height: 25px; }

main section .sizeUl {
  width: 50%;
  margin-top: 50px;
  margin-bottom: 40px; }
  main section .sizeUl .list-group-item {
    font-family: "Montserrat", sans-serif; }

main section .starterBs {
  background-color: #edb026; }
  main section .starterBs h2 {
    font-size: 3.125rem;
    font-family: "Lato", sans-serif;
    letter-spacing: 0.1em;
    text-align: center; }

main section .sizeH2Franquicias {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 25px; }

main section .accordion-button {
  font-family: "Montserrat", sans-serif;
  font-weight: 600; }
  main section .accordion-button:not(.collapsed) {
    color: #edb026;
    background-color: #211f1b; }
  main section .accordion-button:focus {
    border-color: #181a1b;
    box-shadow: 0 0 0 0.25rem rgba(11, 12, 14, 0.25); }

main section .accordion-body {
  padding: 2rem; }

@media screen and (max-width: 767px) {
  .sizeUl {
    width: 100%;
    margin-top: 0px; } }

@media (min-width: 576px) {
  .circleStore {
    background-color: #211f1b;
    height: 302px;
    width: 302px;
    border-radius: 50%; } }

@media (max-width: 576px) {
  .circleStore {
    background-color: #211f1b;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: 50px; }
  .imgFranquicias {
    height: 100px; } }

section .h2Contacto {
  font-size: 2.2rem;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.1em; }

section .pContacto {
  text-align: center;
  color: black;
  font-size: 1rem;
  padding-top: 60px; }

section .formWidth {
  width: 50%; }
  section .formWidth .sizeMsg {
    height: 200px; }

section .btnContacto {
  background-color: #edb026;
  border-color: #edb026;
  font-size: 1.875rem;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.1em; }
  section .btnContacto:hover {
    background-color: #211f1b;
    border-color: #211f1b;
    opacity: 0.9; }

@media screen and (max-width: 767px) {
  section .formWidth {
    width: 100%; }
  section .h2Contacto {
    font-size: 1.5rem; }
  section .pContacto {
    font-size: 1rem;
    padding-top: 40px; } }

footer {
  background-color: black;
  color: white;
  padding-top: 5px;
  width: 100%; }
  footer .footerBack {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 40px;
    text-align: center; }
    footer .footerBack .boxFooter {
      display: flex;
      flex-direction: column;
      padding-top: 40px; }
      footer .footerBack .boxFooter .h2Footer {
        letter-spacing: 0.1em;
        font-family: "Lato", sans-serif;
        border: 3px solid #7a7a7a; }
      footer .footerBack .boxFooter .dirFooter {
        font-size: 1.563rem;
        font-family: "Lato", sans-serif;
        text-decoration-line: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 8px;
        text-decoration-color: #7a7a7a;
        letter-spacing: 0.1em; }
      footer .footerBack .boxFooter .horariosFooter1 {
        font-size: 1.25rem;
        padding-top: 25px;
        font-family: "Lato", sans-serif;
        letter-spacing: 0.1em; }
      footer .footerBack .boxFooter .horariosFooter {
        font-size: 1.25rem;
        font-family: "Lato", sans-serif;
        letter-spacing: 0.1em; }
    footer .footerBack h2 {
      margin-bottom: 40px;
      font-weight: 700;
      font-size: 2.5rem; }
    footer .footerBack .fab {
      color: white;
      font-size: 1.563rem;
      display: inline; }
    footer .footerBack .boxFooterLogo {
      display: flex;
      flex-direction: column;
      padding-top: 40px; }
      footer .footerBack .boxFooterLogo .iconsPossFooter {
        display: flex;
        justify-content: space-between; }
        footer .footerBack .boxFooterLogo .iconsPossFooter i {
          font-size: 1.625rem;
          padding-top: 40px; }
      footer .footerBack .boxFooterLogo .fa-facebook {
        color: #4267B2; }
        footer .footerBack .boxFooterLogo .fa-facebook:hover {
          opacity: 0.6; }
      footer .footerBack .boxFooterLogo .fa-instagram {
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 3%, #fd5949 25%, #d6249f 30%, #285AEB 40%);
        background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 3%, #fd5949 25%, #d6249f 30%, #285AEB 40%);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text; }
        footer .footerBack .boxFooterLogo .fa-instagram:hover {
          opacity: 0.6; }
      footer .footerBack .boxFooterLogo .ig-color {
        padding-left: 20px;
        padding-right: 20px; }
      footer .footerBack .boxFooterLogo .fa-whatsapp {
        color: #25D366; }
        footer .footerBack .boxFooterLogo .fa-whatsapp:hover {
          opacity: 0.5; }
  footer .copyrightFooter {
    max-width: 1200px;
    margin: auto;
    text-align: center; }
    footer .copyrightFooter hr {
      border: none; }
    footer .copyrightFooter p {
      margin-top: 15px;
      color: white;
      font-size: 1.25rem; }
    footer .copyrightFooter .copyrightP {
      color: #7a7a7a;
      font-size: 1rem;
      margin-top: 30px;
      margin-bottom: 0; }
    footer .copyrightFooter .copyrightLink {
      font-size: 1.125rem;
      color: #8a8a8a; }

@media screen and (max-width: 767px) {
  footer {
    height: 690px; }
    footer .footerBack {
      flex-direction: column;
      margin-top: 5px; }
      footer .footerBack .boxFooter {
        padding-top: 10px; }
        footer .footerBack .boxFooter h2 {
          font-size: 1.875rem;
          margin-bottom: 20px; }
        footer .footerBack .boxFooter .dirFooter {
          font-size: 1rem; }
        footer .footerBack .boxFooter .horariosFooter1 {
          font-size: 0.625rem;
          padding-top: 0; }
        footer .footerBack .boxFooter .horariosFooter {
          font-size: 0.625rem;
          padding-top: 0; }
      footer .footerBack .boxFooterLogo {
        display: flex;
        flex-direction: column;
        padding-top: 10px; }
        footer .footerBack .boxFooterLogo .logoFooter {
          padding-top: 0px; }
        footer .footerBack .boxFooterLogo .iconsPossFooter {
          padding: 0;
          justify-content: center; }
          footer .footerBack .boxFooterLogo .iconsPossFooter i {
            padding-top: 35px;
            font-size: 1rem; }
          footer .footerBack .boxFooterLogo .iconsPossFooter .ig-color {
            padding-left: 20px;
            padding-right: 20px; }
    footer .copyrightFooter p {
      margin-top: 0; }
    footer .copyrightFooter .copyrightP {
      margin-top: 0; }
    footer .copyrightFooter .copyrightLink {
      font-size: 1.125rem; } }
