.footerBg {
    font-family: $font-primaria;
    background-color: #211f1b;
    .h2Footer {
        letter-spacing: 0.1em;
        border: 3px solid #7a7a7a;
        margin-bottom: 60px;
        font-weight: 700;
        font-size: 2.5rem
    }
    .dirFooter {
        font-size: 1.563rem;
        text-decoration-line: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 8px;
        text-decoration-color: #7a7a7a;
        letter-spacing: 0.1em;
    }
    .horariosFooter1 {
        font-size: 1.25rem;
        padding-top: 25px;
        letter-spacing: 0.1em;
    }
    .horariosFooter {
        font-size: 1.25rem;
        letter-spacing: 0.1em;
        padding-top: 10px;
    }
    .logoFooter {
        margin-top: 60px;
    }
    i {
        font-size: 1.625rem;
        padding: 20px;
        padding-top: 0;
    }
    .fa-facebook {
        color: #4267B2;
        &:hover {
            opacity: 0.6;
        }
    }
    .fa-instagram {
        background: radial-gradient(circle at 30% 107%, #fdf497 3%, #fdf497 35%, #fd5949 55%, #d6249f 65%, #285AEB 80%); 
        background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 3%, #fdf497 35%, #fd5949 55%, #d6249f 65%, #285AEB 80%);
        color: transparent; 
        -webkit-background-clip: text;
        background-clip: text;
        &:hover {
            opacity: 0.6;
        }
    }
    .fa-whatsapp {
        color: #25D366;
        &:hover {
            opacity: 0.6;
        }
    }
    .copyrightP {
        color: #7a7a7a;
        font-size: 1rem;
        margin-top: 30px;
        margin-bottom: 0;
    }
    
    .copyrightLink {
        font-size: 1.07rem;
        color: #8a8a8a;
    }
}


/* MQ FOOTER */

@media screen and (max-width: 767px) {
    .footerBg {
        height: 902px;
        .h2Footer {
            font-size: 1.9rem;
            margin-bottom: 40px;
        }
        .dirFooter {
            font-size: 1.4rem;
        }
        .horariosFooter1 {
            font-size: 1rem;
            padding-top: 0;
        }
        .horariosFooter {
            font-size: 1rem;
            padding-top: 0;
        }
        .logoFooter {
            margin-top: 20px;
        }
        .copyrightP {
            margin-top: 0;
        }
    }
}