    .divLocales {
        font-family: $font-primaria;
        border: 3px solid $color-negro ;
        background-color: #e0e0e0;
        border-radius: 20px;
        padding-top: 40px;
        padding-bottom: 40px;
        .h2Locales {
            font-size: 3.75rem;
            font-weight: 700;
            letter-spacing: 0.1em;
            text-decoration-line: underline;
            text-decoration-thickness: 4px;
            text-underline-offset: 10px;
            text-decoration-color: $color-negro;
        }
        .direccionLocales {
            font-size: 1.875rem;
            letter-spacing: 0.1em;
            padding-top: 50px;
        }
        .horarioLocales { 
            letter-spacing: 0.1em;
            padding-top: 30px;
        }
        .horarioLocales1 {
            letter-spacing: 0.1em;
            padding-bottom: 50px;
        }
}


/* MQ */

@media screen and (max-width: 767px) {
    .h2Locales {
        font-size: 3.125rem;
    }
    .direccionLocales {
        font-size: 1.5rem;
    }
    .horarioLocales { 
        padding-top: 20px;
    }
    iframe {
        width: 320px;
        height: 300px;
    }
}