main {
    .sectionHistoria {
        text-align: $centrado;
        padding: 150px;
        .divHistoria {
            h3 {
                font-size: 7.5rem;
                font-weight: 700;
                padding-bottom: 60px;
                font-family: 'Amatic SC', cursive;
            }
            p {
                font-size: 25px;
                color: $color-negro;
                padding: 70px;
                font-family: $font-secundaria;
            }
            .emSize {
                font-size: 1.125rem;
                font-style: italic;
            }
        }
    }
    .sectionVideo {
        text-align: $centrado;
        padding-bottom: 200px;
        .video {
            border: 4px solid rgb(99, 99, 99);
            border-radius: 5px;
        }
    }
}


/* MQ */

@media screen and (max-width: 767px) {
    main {
        .sectionHistoria {
            text-align: $centrado;
            padding: 0;
            padding-top: 50px;
                .divHistoria {
                    padding: 0;
                    h3 {
                        font-size: 3.5rem;
                        line-height: 0.1em;
                        font-weight: 700;
                        padding-bottom: 40px;
                    }
                    p {
                        font-size: 1rem;
                        font-style: italic;
                        font-weight: 500;
                        padding: 30px;
                    }
                    .emSize {
                        font-size: 14px;
                    }
                }
        }
    
        .sectionVideo {
            padding-top: 60px;
            padding-bottom: 30px;
        }
        .video {
            width: 400px;
            height: 400px;
        }
}
}